* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h6,
p {
    margin: 0;
    padding: 0;
}

.header-top {
    position: relative;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.container-fluid {
    background-color: #ed1c25;
    padding: 0px;
}

.header-right {
    height: 40px;
    background-color: #221F1F;
    display: flex;
    justify-content: space-between;
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 3% 100%);
    padding: 10px 0px 10px 120px;
    position: relative;
    z-index: 9;

}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.header-right ul,
.header-contact ul,
.header-bottom+ul {
    display: flex;

}

.header-right ul li,
.header-contact ul li,
.header-bottom ul li {
    list-style-type: none;
}

.header-right ul li a,
.header-contact li a,
.header-bottom ul li a {
    text-decoration: none;
    color: #fff;
    padding-right: 50px;
    text-transform: uppercase;
}

.header-contact li a,
.header-bottom ul li a {
    color: black;
}



.header-contact {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    max-width: 888px;
    margin: 0 0 0 auto;

}

.btn {
    background-image: linear-gradient(to right, #ED1C25, #5F0004);
    padding: 10px 20px;
    color: #fff;
    border-radius: 0;
    font-weight: 500;
    z-index: 1;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.075);
    transition: all 0.5s ease;
    z-index: -1;
    background-image: none;

}

.btn:hover::before {
    left: 0;
    width: 100%;
    background-image: none;

}




.brder {
    padding: 10px 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(90deg, #620105, #E91B24) 2;
    text-decoration: none;
    color: black;
    background: none;
}

.brder:hover {
    background-image: linear-gradient(to right, #ED1C25, #5F0004);
    padding: 10px 20px;
    color: #fff;
    border-radius: 0;
    font-weight: 500;
}


.header-bottom ul {
    justify-content: flex-end;
}

.header-bottom+ul li a {
    padding: 50px;
}

.header-bottom {
    width: 100%;
    background-color: #ED1C25;
    margin-top: -40px;
    height: 45px;
}

.header-bottom li a {
    padding-right: 20px;
}

.navbar-nav a {
    font-weight: 500;
}

.navbar-collapse {
    max-width: 1480px;
    margin: 0 auto;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
    gap: 100px;
}

.logo {
    position: relative;
    z-index: 1;
}

.justify-content {
    justify-content: center;
}



.navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding-right: 30px;
}

header .container {
    max-width: 1480px !important;
    overflow: visible !important;
}


header {
    background-image: url(./images/background-header.png);
    background-repeat: no-repeat;
    background-position: center;
}

header .container {
    max-width: 1480px !important;
    overflow: visible !important;
}

header::after {
    position: absolute;
    content: "";
    width: 500px;
    height: 40px;
    background: #221f1f;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
}

.bg-banner {
    background-color: #221F1F;

    background-image: url("./images/bg-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-banner .row {
    height: 100%;
}

.bg-banner .col-6 {
    height: 100%;
}

.banner-left {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.image-section img {
    width: 100%;
}

.w-100 {
    width: 100%;
}

.banner-left h1 {
    font-size: 52px;
}

.banner-left p {
    font-size: 20px;
}

.banner-outer {
    width: calc(50% - (100% - 1480px) / 2);

}

.banner-left p {
    padding: 36px 0px;
    margin-bottom: 0;
}

.banner-left .brder {
    padding: 10px 30px;
}

.btn img {
    padding-right: 5px;
}

.slider-outer {
    height: 150px;
    background-color: #fff;

}

.slider-inner {
    width: 1350px;
    margin: 0 auto;
    padding: 10px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-inner h2 {
    font-size: 22px;
}

.slider-inner div {
    gap: 30px
}


.group {

    will-change: transform;
    animation: scrolling 3s linear infinite;
    transition-timing-function:
        linear !important;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.card-outer {
    width: 1480px;
    margin: 0 auto;

}

.pad130 {
    padding: 130px 0px;
}

.pad100 {
    padding: 100px 0px;
}

.card {
    border: 0;
    border-radius: 0;
    min-height: 470px;
}

.card-body {
    padding: 0rem 1rem;
}


.card-inner p {
    font-size: 16px;

}


.card-img {
    display: block;
    border: 2px solid red;
}

.pb-60 {
    padding: 10px 0px 60px 0px;
}

.card-img {
    border: 0;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
    background-image: linear-gradient(45deg, #ED1C25, #5F0004);
}

.card-img-top {
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0 96%);
}

.bg {
    background-color: #F6F6F7;
}

.card-inner h2 {
    padding: 15px 0px;
    font-weight: 600;
    margin-bottom: 0;

}

.card-inner .card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fs-22 {
    font-size: 22px;
}

.fs-44 {
    font-size: 44px;
    font-weight: 600;
}

.background {
    background-image: url("./images/background-header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.third-right img {
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
}

.third-right {
    height: 100%;
    position: relative;
    padding-left: 100px;
}

.third-right p {
    font-size: 18px;
    padding: 10px 0px;
}

.third-right a {
    display: block;
    width: max-content;
}

.four {
    position: relative;
}

.fourth {
    background-image: url("./images/bg-banner.png");
    background-color: #221f1f;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fourth-inner {
    max-width: 1225px;
    margin: 0 auto;
}

.slide-track {
    overflow: hidden;
    width: 600px;
    display: flex;
    /* 12 images total */
    animation: scroll 3s linear infinite;
}

.slide img {
    transition: transform 0.3s ease;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50px * 4));
    }

    /* move one set of slides left */
}

.slider {
    overflow: hidden;
    width: 80%;
    max-width: 1000px;

    padding: 20px 0;
    border-radius: 12px;

}

.slide-track {
    display: flex;
    width: calc(200px * 12);
    animation: scroll 20s linear infinite;
}

.slide {
    width: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    object-fit: contain;
    transition: transform 0.3s ease;
}

.slide img:hover {
    transform: scale(1.1);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 6));
    }


}

.fourth-inner {
    color: #fff;
}

.four-header p {
    font-size: 18px;
}

.four-header {
    max-width: max-content;
    margin: 0 auto;
    padding: 0px 0px 60px 0px;
}

.border-img {

    display: block;
    margin: 0 5% 0 auto;
    max-width: max-content;


}

.fourth-inner {
    padding: 100px 0px;
}

.fifth-outer {


    padding: 100px 0px;
}

.fifth-inner {
    padding-bottom: 60px;
}

.fifth-border {
    display: block;
    margin: 0 30% 0 0;
    width: max-content;
}


.fifth {
    background-image: url("./images/faded-waves.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.fifth-card {
    max-height: 110px;
    max-width: 110px;
}

.fifth-outer .card {
    min-height: 413px;
    padding: 24px;
    width: 350px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fifth-outer .card h5 {
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 600;
}

.fifth-outer .card p {
    line-height: 1.2;
}

.fifth .row {
    max-width: 1145px;
    margin: 0 auto;
}

.sixth-inner {
    padding: 60px 0px 40px;
    max-width: 1400px;
    margin: 0 auto;
}

.sixth-inner img {
    display: block;
    max-width: max-content;
    margin: 0 10%;
}

.sixth {
    min-height: 600px;
    background-image: url("./images/background-header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pad100 {
    padding: 100px 0px;
}

.slide-inner {
    padding: 70px 0px 40px;
}

.slide-top {
    box-shadow: 0px 25px 90px rgba(8, 23, 51, 0.12);
    border-radius: 10px;
    padding: 53px 30px 50px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

#owl-demo .item {
    margin-right: 20px;
}

/* #owl-demo {
    display: block;
    width: 100%;
    height: auto;
} */
.owl-wrapper {
    display: flex;
}

.slide-section {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;

}

.owl-buttons .owl-prev {
    font-size: 0;
    background: url("./images/arrow.png") no-repeat center/cover, linear-gradient(90deg, #ED1C25 0%, #5F0004 100%);
    ;
    /* background-position: right center; */

    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: 30px;
    background-size: 10px, cover;
    cursor: pointer;
}

.owl-buttons .owl-next {
    font-size: 0;

    background: url("./images/arrow.png") no-repeat center/cover, linear-gradient(90deg, #ED1C25 0%, #5F0004 100%);
    height: 35px;
    width: 35px;

    transform: rotate(180deg);
    padding: 10px;
    border-radius: 30px;
    background-size: 10px, cover;
    cursor: pointer;
}


.owl-buttons {
    /* top: 24px; */
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 1400px;
    /* right: 0px; */
    top: 40%;
    justify-content: space-between;
}

.item {
    max-width: 450px;
}

.form-outer {
    min-height: 850px;
    position: relative;
}

.form-left {
    background-image: linear-gradient(to right, #ED1C25, #5F0004);
    color: #fff;

}

/* li a img {
    height: 45px;
    width: 45px;
    padding: 12px;
    background-color: rgb(255, 254, 254);
    border-radius: 30px;
    margin-right: 10px;
} */

.left-inner {
    width: 428px;
}

.left-inner p {
    font-size: 18px;
    padding: 30px 0px;
}

.h-100 {
    height: 100%;
}

.fifth-outer .col-4.p-0:not(:last-child) {
    padding-right: 40px !important;
}

.card-inner .col-3.p-0:not(:last-child) {
    padding-right: 20px !important;
}

.form-section {
    position: absolute;
    max-width: 540px;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0px 47px 51px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    top: 100px;
    left: 40%;
}

.submit {
    display: block;
    max-width: max-content;
    margin: 20px 0px;
}

.form-section img {
    display: block;
    margin: 0 auto;
}

.border-white {
    border: 2px solid #fff;
}

/* Create an active/current tablink class */
.tab div.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 100px 0px 0px;
    border-top: none;
    background-color: RED;
}

.last-footer-section {
    background: url("./images/bg-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top-section h2 {
    text-align: center;
}

.top-section img {
    display: block;
    margin: 0 auto;
    max-width: max-content;
}

.tab .col-3 {
    border: 2px solid #fff;
}

button.col-3.tablinks.active {
    background: #fff;
}


.tab-links {
    position: relative;
}

.tab-links img {
    background: none;
}

.tablinks img {
    filter: brightness(0) invert(1);

}

.tablinks.active img {
    filter: none;
}

button.col-3.tablinks.active {
    position: relative;
}

button.col-3.tablinks.active::before {
    position: absolute;
    content: "";
    background: url("./images/svgviewer-png-output\ \(1\).png") no-repeat center/cover;
    bottom: -30%;
    color: white;
    right: 0;
    height: 50px;
    width: 90px;
    left: 0;
    margin: 0 auto;
}

.size {
    font-size: 20px;
    background: -webkit-linear-gradient(#ED1C25, #5F0004);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

tab {
    overflow: hidden;
    border: 1px solid #ccc;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}





.tabcontent {
    display: none;
    border-top: none;
    background: transparent;

}

.row-size {
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent;
}

.row-size h3 {
    padding: 25px 0px;
}


.object-fit {
    object-fit: cover;
}

.tab {

    max-width: 1071px;
    margin: 0 auto;
}

button.col-3.tablinks.active {
    po
}

.outer-section {
    max-width: 1480px;
    margin: 0 auto;
}

.fs-24 {
    font-size: 24px;
    font-weight: 600;
}

.outer-section .col-6 {

    border-radius: 4px;
    background-color: #fff;

}

.box-content {
    padding: 30px 52px;
}

.boxes-content {
    padding: 12px 28px;
}

.pad60 {
    padding: 60px 0px 0px;
}

footer {
    background-color: #221f1f;
}

.footer-outer {
    max-width: 1480px;
    margin: 0 auto;


}

.footer-inner {
    gap: 40px;
}

.w-25 {
    width: calc(100% / 5 - 0px)
}

.nav-link {
    color: #fff;
}

.company-section {

    width: max-content;
    display: flex;
    padding: 100px 0px 40px;

    flex-direction: column;
}

.company-section li a {
    padding: 8px 0px;
}



/* .icon-section{
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    background: red;
}
.icon-section img{
    height: 100%;
    width: 100%;
    padding: 10px;
       background: red;
} */


.icon-section {
    width: 30px;
    background: #f00;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.form-icon {
    width: 50px;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.form-icon img {
    width: 100%;
    max-width: 20px;
    height: auto;
    display: block;
    padding: 2px;

}

.icon-section i {
    width: 100%;
    max-width: 20px;
    height: auto;
    display: block;
    padding: 4px;
}

.nav-link :hover {
    color: #fff;
}

.pt {
    padding: 40px 0px 0px;
}

.logo-section img {
    height: auto;
    max-width: 156px;
    object-fit: contain;
}

.logo-section p {
    font-size: 14px;
}

.company-section h5 {
    font-size: 19px;
}

.company-section li a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    opacity: 77%;
}

.logo-section p {
    padding-top: 40px;
}

.copyright p {
    font-size: 13px;
    color: #FFFFFF;
}

.wrapper {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0px 12px;
}

.custom-btn {
    display: flex;
    align-items: center;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    border: none;

}

.btn-icon-section {
    background: #ED1C24;
    padding: 10px 18px;
    clip-path: polygon(0 1%, 100% 0, 80% 100%, 0% 100%);
    height: 100%;
}

.icon-section img {
    width: 28px;
    /* adjust to your icon size */
    height: auto;
}

.custom-btn span {
    padding: 12px 18px;
}

.custom-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.box-content p {
    font-size: 14px;
}

.read-more {
    padding: 10px 41px;
    font-size: 14px;

    font-weight: 500;
}

.footer-right {
    display: flex;
    max-width: 1063px;
    justify-content: space-evenly;
    gap: 40px;

}

.footer-left {
    max-width: 400px;
}

.copy-right {
    background: #1c1919;
}

.bg-gray {
    background: #efefef;
}

/* .width-25{
    width:calc((100% / 4 - 1480px) - 20px);
} */
.boxes-content h6 {
    font-size: 18px;
}

.box-content p {
    font-size: 14px;
}

.nav-link:hover {
    color: #fff;
}

.wrapper-fifth {
    max-width: 1145px;
    margin: 0 auto;
}

.fw-medium {
    font-weight: 500;
}

.client-title h5 {
    font-size: 19px;
}

.client-title span {
    font-size: 15px;
}

.boxes-content h6,
p {
    padding-bottom: 13px;
    margin: 0px;
}

.fs-38 {
    font-size: 38px;
    font-weight: 600;
}

.form-section form