* {
    margin: 0;
    padding: 0;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1480px;
    position: relative;

}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}


p {
    font-family: "Poppins", sans-serif;
}

header {
    background-image: url("./images/hd_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 190px;
    position: relative;
    z-index: 99;
    transition: all 0.8s ease-in-out;

}

.wrapper {
    max-width: 1480px;
    margin: 0 auto;
    height: 100%;
}

a.nav-link {
    font-size: 20px;
    color: black;
}

.logo img {
    margin: 10px 0px;
}

.header-btn {
    position: relative;
}

.header-btn::before {
    content: "";
    background-image: url("./images/bg-btn.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 520px;
    height: 154px;
    position: absolute;
    transform: rotate(-6deg);
    right: -71px;
    bottom: -43px;
    z-index: 1;
}


.number {
    position: relative;
    z-index: 4;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 4;
    color: #FFD60D;
    padding-bottom: 10px;
}

.number p {
    font-size: 16px;
    font-weight: 700;
}

.number a {
    font-size: 28px;
    color: #FFD60D;
}

.banner-section {
    background: url("./images/banner-bg.jpg") no-repeat center/cover fixed;
    height: 850px;
    position: relative;
    margin-top: -110px;
    z-index: -1;
    position: relative;

}

.about-section {
    background: url("./images/about-us.jpg") no-repeat center/cover fixed;
    position: relative;
    margin-top: -110px;
    z-index: -1;
    position: relative;
    height:700px;

}

.banner-section::after {
    z-index: 1;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("./images/btm_n_curve.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 85px;
    position: absolute;
    background-size: 100% 100%;
}

.banner-section::before {
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000000 0%, #000000 100%);
    opacity: 0.61;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 0;
}

.banner-section h1 {
    font-size: 75px;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

.banner-section span {
    color: #FFD60D;
}

.pad40 {
    padding-bottom: 60px;
}

.banner-section p {
    font-size: 20px;
    padding: 40px 0px;
    text-shadow: 0px -3px 13px rgba(0, 0, 0, 1);
    position: relative;
    z-index: 1;

}

.pad100 {
    padding: 100px 0px;
}

.pad150 {
    padding-bottom: 150px;
}

.barrier-left p:first-child {
    font-size: 20px;
    color: #EFC600;
    font-size: 22px;
    font-style: italic;
}

.barrier-left h2 {
    color: #0F591F;
    padding: 30px 0px;
}

.fs-55 {
    font-size: 55px;
}

.fs-44 {
    font-size: 44px;
}

.barrier-right img {
    max-width: 580px;
}

.deftbtn {
    background-image: url("./images/btn_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    font-size: 23px;
    display: flex;
    padding: 30px 35px;
    max-width: max-content;
    text-align: center;
    color: #0F591F;
    text-decoration: none;
    margin: 40px auto;
    transition: all 0.4s ease-in-out;
}

.deftbtn:hover {
    transform: translateY(-10px);
    color: #0F591F;
}

.barrier-section {
    padding: 100px 15px;
}

.barrier-right {
    position: relative;
    margin-left: auto;

}

.barrier-right img {
    position: relative;

}

.barrier-right::before {
    background-image: url("https://skeeterbeeter.net/wp-content/uploads/2023/01/mos_left.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
    left: -190px;
    top: -80px;
    animation: animationFramesThree 12s infinite linear alternate;
    background-size: contain;
    position: absolute;
    content: "";
}

@keyframes animationFramesThree {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(40px, -5px);
    }

    40% {
        transform: translate(60px, 40px);
    }

    60% {
        transform: translate(40px, 60px);
    }

    80% {
        transform: translate(-40px, 60px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.barrier-right::after {
    content: "";
    position: absolute;
    background-image: url("https://skeeterbeeter.net/wp-content/uploads/2023/01/mosq_right.png");
    background-repeat: no-repeat;
    width: 180px;
    height: 190px;
    right: 40px;
    bottom: 70px;
    animation: animationFramesFour 12s infinite linear alternate;
    background-size: contain;
}

@keyframes animationFramesFour {

    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-30px, 40px);
    }

    40% {
        transform: translate(60px, 60px);
    }

    60% {
        transform: translate(80px, 40px);
    }

    80% {
        transform: translate(40px, -70px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.about-img {
    border-radius: 40px;
    position: relative;

}

.about-img img {
    border-radius: 40px 0px 0px 40px;
    height: 100%;
    position: relative;
    width: 100%
}

.about-img::before {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(43, 83, 39, 1) 100%);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
}

.about-inner {
    background-color: #2B5327;
    border-radius: 40px;
    position: relative;
    z-index: 1;
}

.about-text {
    padding: 60px 70px 60px 0;
    width: 76.3%;

}

.about-text h2 {
    color: #EFC600;
    padding-bottom: 40px;
    margin: 0;
}

.about-text p {
    font-size: 17px;
    padding-bottom: 40px;
}

.about-card {
    height: 1100px;
    background-color: #FFD60D;
    margin-top: -230px;
    position: relative;
    z-index: 0;
    padding: 350px 15px 170px
}

.about-card::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    background-image: url("https://skeeterbeeter.net/wp-content/uploads/2023/01/curve_ic_top.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: absolute;
    background-size: 100% 100%;
}

.about-card::after {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("https://skeeterbeeter.net/wp-content/uploads/2023/01/curve_ic_btm.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: absolute;
    background-size: 100% 100%;
}

.card-inner {
    position: relative;
    z-index: 3;
}

.card-inner h2 {
    color: #0F591F;
}

.cards h3 {
    height: 300px;
    width: 300px;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    color: #0F591F;
    font-size: 35px;
    z-index: 0;
}

.cards h3::before {
    content: "01";
    position: absolute;
    top: -30px;
    background: #2b5327;
    color: #ffd60d;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cards:nth-child(2) h3::before {
    content: "02";
}

.cards:nth-child(3) h3::before {
    content: "03";
}

.cards h3::after {
    background: #2b5327;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    transform: scale(0);

    border-radius: 50%;
    z-index: -1;
    transition: all ease-in-out 0.4s;
}

.cards h3:hover::after {
    transform: scale(0.96);

}

.cards h3:hover {
    color: #FFD60D;
}

.cards p {
    position: relative;
    margin-top: 20px;
    font-size: 17px;
}

.cards p::before {
    content: '';
    position: absolute;
    background: #0f591f;
    bottom: calc(100% + 10px);
    left: -10px;
    width: 2px;
    animation: mymove3 2.5s infinite;
    z-index: 9;
    right: 0;
    margin: auto;
}

@keyframes mymove3 {
    0% {
        height: 10px;
    }

    50% {
        height: 90px;
    }

    100% {
        height: 10px;
    }
}


.pad50 {
    padding: 50px 0px 0px;
}

.ptb50 {
    padding: 50px 0px;
}

.cards h3 :hover {
    background-color: black;
}

.card-inner {
    position: relative;
}

.card-inner::after {
    background-image: url("https://skeeterbeeter.net/wp-content/uploads/2023/01/flies.png");
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    right: -60px;
    animation: animationFramesThree 12s infinite linear alternate;
    background-size: contain;
    position: absolute;
    content: "";
}

.green {
    color: #0f591f;
}

.fs-23 {
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.fs-17 {
    font-size: 17px;
}

.w-50 {
    width: calc(100% - 1480px / 2);
}

.pb {
    padding-bottom: 50px;
}

.about-left h6 {
    line-height: 1.6;
}

.about {
    position: relative;
}

.about-heading {
    position: relative;
}

.about-heading::before {
    height: 150px;
    width: 150px;
    top: -80px;
    left: -120px;
    background-image: url("https://skeeterbeeter.net/wp-content/uploads/2023/01/mos_left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
    position: absolute;
    content: "";
    animation: animationFramesThree 12s infinite linear alternate;

}

.arrow-list li {
    background-image: url("https://skeeterbeeter.net/wp-content/uploads/2023/01/arr_ic.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position: left center;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;

}

.automatic-left {
    max-height: 510px;
}

.automatic {
    padding: 100px 0px 0px;
    position: relative;
}

.automatic::after {
    height: 150px;
    width: 150px;
    right: 0;
    bottom: 70px;
    background-image: url("images/fly-right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
    position: absolute;
    content: "";
    animation: animationFramesThree 12s infinite linear alternate;
}

footer {
    position: relative;
    width: 100%;
    background-color: #0f591f;
    z-index: 0;
}

.footer-top {
    position: relative;
    z-index: 3;
}

footer::before {
    height: 120px;
    width: 100%;
    position: absolute;
    content: "";
    background-image: url("https://skeeterbeeter.net/wp-content/uploads/2023/01/review_top.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
}



.footer-menu ul li a {
    font-family: "Poppins", sans-serif;
    color: white;
}

.icons a {
    display: block;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.icons a i {
    color: black;
}

.icons a:hover {
    background-color: #EFC600;
}

.icons a:hover i {
    color: #0f591f;
}

.footer-bottom a {
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.about-right img {
    max-height: 510px;
}

.footer-menu,
.icons {
    padding-top: 90px;
}

.footer-menu ul li a:hover {
    color: #EFC600;
}

.hdactive {
    position: fixed;
    width: 100%;
    top: 0;

}

.card-inner-text {
    padding-bottom: 20px;
}

.automatic-left img {
    max-height: 480px;
    width: 100%;
    object-fit: contain;
}

.pb35 {
    padding-bottom: 35px;
}

.black {
    color: #080000;
}

/* about -section css*/

.about-banner-section{
    margin-top: -110px;
   border-radius: 1000px 100px 1000px 100px;
        box-shadow: 0px 0px 5px #00000042;
        text-shadow: none;
        color:red;
        padding:60px 140px;
        position: relative;
        z-index: 2;
        
}
.about-banner-section h4{
    text-transform: lowercase !important;
}
.about-banner-section p{
    text-shadow: none;
}